<mat-card class = "card">
  <form class="form">

    <app-area-search #area [type]="types.AREA" [name]="'Область'" [(value)]="valueArea" (valueChange)="changeArea($event)"></app-area-search>

    <app-area-search #region [type]="types.REGION" [name]="'Регион'" [(value)]="valueRegion" [parent]="valueArea" (valueChange)="changeRegion($event)"></app-area-search>

    <app-area-search #city [type]="types.CITY" [name]="'Город, насленный пункт'" [(value)]="valueCity" [parent]="valueRegion"
                     (valueChange)="changeCity($event)"></app-area-search>

  </form>
</mat-card>
